data/train_data/wikitext2_128samples/r1_train/sample_0_layer_0_mlp_up_proj.pt
*.pt
*.pyc
*.dat
*.json
calibrater/logs/time_log.txt
calibrater/logs/r2_time_log.txt
fake_quant/experiments/Llama-3.2-1B-Instruct/baseline_w4a8k8v8_g128_aAsym_wSym_kSym_vSym_kvex8_projex15/baseline_w4a8k8v8_g128_aAsym_wSym_kSym_vSym_kvex8_projex15.txt
fake_quant/experiments/Llama-3.2-1B-Instruct/dart_w4a8k8v8_g128_aAsym_wSym_kSym_vSym_kvex8_projex15/dart_w4a8k8v8_g128_aAsym_wSym_kSym_vSym_kvex8_projex15.txt
fake_quant/experiments/Llama-3.2-1B-Instruct/full_w16a16k16v16_g128_aAsym_kAsym_vAsym_kvex8_projex15/full_w16a16k16v16_g128_aAsym_kAsym_vAsym_kvex8_projex15.txt
fake_quant/experiments/Llama-3.2-1B-Instruct/quarot_w4a8k8v8_g128_aAsym_wSym_kSym_vSym_kvex8_projex15/quarot_w4a8k8v8_g128_aAsym_wSym_kSym_vSym_kvex8_projex15.txt
fake_quant/experiments/Llama-3.2-1B-Instruct/static_baseline_w4a8k8v8_g128_aAsym_wSym_kSym_vSym_kvex8_projex15/static_baseline_w4a8k8v8_g128_aAsym_wSym_kSym_vSym_kvex8_projex15.txt
fake_quant/experiments/Llama-3.2-1B-Instruct/static_dart_w4a8k8v8_g128_aAsym_wSym_kSym_vSym_kvex8_projex15/static_dart_w4a8k8v8_g128_aAsym_wSym_kSym_vSym_kvex8_projex15.txt
fake_quant/experiments/Llama-3.2-1B-Instruct/static_quarot_w4a8k8v8_g128_aAsym_wSym_kSym_vSym_kvex8_projex15/static_quarot_w4a8k8v8_g128_aAsym_wSym_kSym_vSym_kvex8_projex15.txt
data
